@model IEnumerable<Assigment02_BussinessObject.Publisher>
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{
    ViewData["Title"] = "Publishers";
}
<div class="container">
    <h1 class="text-center">Publisher List</h1>

    @if (ViewBag.ErrMsg != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrMsg</div>
    }
    @*@if (ViewBag.Role == "Admin")
    {*@
    <p class="text-right">
        <a asp-action="Create" class="btn btn-primary">Create New Publisher</a>
    </p>
    @* }*@
    <hr />

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>PublisherID</th>
                <th>PublisherName</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.pub_id)</td>
                    <td>@Html.DisplayFor(modelItem => item.publisher_name)</td>
                    <td>@Html.DisplayFor(modelItem => item.city)</td>
                    <td>@Html.DisplayFor(modelItem => item.state)</td>
                    <td>@Html.DisplayFor(modelItem => item.country)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.pub_id" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.pub_id" class="btn btn-primary btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.pub_id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
